@import '../../styles/general.scss';

$padding-top-buttom: 12px;
$padding-sides: 20px;

.list-paper-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .load-list-botton {
        margin-top: 30px;
    }
}

.list-group {
    padding-left: 0;
    width: 100%;

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;    
        padding: $padding-top-buttom $padding-sides;
    }
    li:not(:first-child) {
        border-top: 1px solid rgba(0,0,0,.125);
    }
    li:first-child {
        padding-top: calc(#{$padding-top-buttom} - 17px);
    }
    li:last-child {
        padding-bottom: calc(#{$padding-top-buttom} - 17px);
    }
}

// .list-group-item {
// }
